*{
    box-sizing: border-box;
}

p{
    border: 5px solid orange;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: blue;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Croissant One', Courier, monospace;

}

.menu{
    background-color: orange;
    font-size: 20px;
    font-weight: 20px;
}

.menu li{
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
}

ul li:hover{
    background-color: coral;
    color: white;
}

.submenu{
    width: 100px;
    background-color: orange;
    display: none;
    position: absolute;
    top: 85px;
}

.submenu li{
    width: 100px;
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown:hover ul{
    display: block;
}